.sec-1-asp {
    /* display: flex; */
    align-items: center;
    margin: 80px 80px 20px 50px;
    gap:40px;
    height:400px;


}

#myasp {
    margin: 100px 100px 0px 100px;
}

.career,
.education {
    flex: 1;        /* makes them equal width */
}

.career{
    /*background-color: #070707;*/
    background-color: #070707;
    padding: 20px 20px 20px 20px;
    border-radius: 20px;
    line-height: 1.6;
    font-size:20px;
    width:100%;
}

.career h2 {
    color:#f2c94c
}

.education h2 {
    color:#6fcf97;
}

.education{
    /*background-color: #070707;*/
    margin-top:30px;
    background-color: #070707;
    padding: 20px 20px 20px 20px;
    border-radius: 20px;
    line-height: 1.6;
    font-size:20px;
    width:100%;


}

