/* Mobile styles - overrides for screens 767px and below */
@media (max-width: 1290px) {

    body {
        min-height: 100vh;
    }

    #name {
        font-size: 24px;
    }

    #details {
        font-size: 14px;
    }

    .hero-container {
        flex-direction: column;
        padding: 20px;
        gap: 20px;
        text-align: center;
    }

    .hero {
        width: 100%;
        padding-top:50px;
    }

    .hero h1 {
        margin-left: 20px;
        font-size: 38px;
    }

    .hero p {
        font-size:26px;
        margin-left: 20px;
    }

    .picture {
        justify-content: center;
        width: 100%;
        text-align: center;
    }

    .picture img {
        height: 0px;
        width: 0px;
        margin-right: 0;
    }

    .sec-2-wrapper {
        flex-direction: column;
        gap: 20px;
        padding: 20px;
        margin: 20px;
        align-items: center;
    }

    .sec-2-wrapper h1 {
        font-size: 20px;
    }

    .sec-2-wrapper button {
        width: 100%;
        height: 170px;
        font-size: 28px;
    }
}