/* ---------- Header Layout ---------- */


/* Center name precisely */
#name {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 35px;
    margin: 0;
    font-weight: 700;
}

/* Right-aligned details */
#details {
    font-size: 17px;
    font-weight: 400;
    margin: 0;
    text-align: left;
    color: #cfcfcf;
}





.hero-container {
    display: flex;
    justify-content: space-between;  /* space text and image apart */
    align-items: center;              /* vertically align them */
    padding: 40px;
    gap: 40px;
    }

.hero {
    /*margin-top:100px;*/
    width: 50%;


}

.hero h1{
    margin-left:100px;
    font-size:45px;
}

#joshua { color: #56ccf2; }
#bold { color: #f2c94c; font-weight: 500; }
#bold2 { color: #6fcf97; font-weight: 500; }
#bold3 { color: #eb5757; font-weight: 500; }

#bold, #bold2, #bold3 {
    font-weight: normal;
}

 .hero p {
     font-size:20px;
     margin-left:100px;
     font-weight: lighter;

 }

 .desktop-only{
     display: block;
  font-size:20px;
     margin-left:100px;
     font-weight: lighter;
 }

 .picture {
     justify-content: right;

 }

 .picture img {
    height: 400px;
     width: 400px;
     border-radius: 10%;
     margin-right:200px;
     /*margin-righttop: 100px;*/
     box-shadow: 0 0 0px #393939;
 }

 /******************************/

.sec-2-wrapper{
    display: flex;
    justify-content: space-between;
    gap: 80px;
    padding: 50px;
    margin: 30px 120px 0px 120px;
    color:white;
}

.sec-2-wrapper h1 {
    font-size:25px;
}

.sec-2-wrapper button {
    /*padding: 25px 65px 35px 65px;*/
    width: 600px;
    height:80px;
    font-family: ubuntu;
    font-size:20px;

    border-radius: 25px;
    border: none;
    transition: 0.8s;
}

.sec-2-wrapper a{
    text-decoration: none;
    color: white;
}

#but1, #but2, #but3, #but4 {
    font-weight: lighter;
    color: white;
    width: 400px;
    height: 100px;
    align-content: center;
    text-align: center;
    font-size: 25px;
    border-radius: 30px;
    transition: 0.5s;
    background-color: black;
    border: 2px solid #eb5757;}




#but1 {
    border: 3px solid #56ccf2;
    transition: 0.8s}
#but1:hover {
    background-color:#56ccf2;
    transition: 0.8s;

}
 #but2 {
     border: 3px solid #f2c94c;
     transition: 0.8s;
 }
 #but2:hover {
    background-color:#f2c94c;
    transition: 0.8s;
}
#but3 {
     border: 3px solid #6fcf97;
    transition: 0.8s;}

 #but3:hover {
    background-color:#6fcf97;
    transition: 0.8s;
}
#but4 {
     border: 3px solid #eb5757;
    transition: 0.8s;}
 #but4:hover {
    background-color:#eb5757;
    transition: 0.8s;}


