/* Mobile styles - overrides for screens 767px and below */
@media (max-width: 1290px) {

    body {
        max-height: 100vh;
        overflow: hidden; /* This stops scrolling */
    }


    #details a {
        text-decoration: none;
        color: #cfcfcf;
        margin: 0 8px;
        transition: 0.2s ;
        font-size: 29px;
    }

    #details a:hover {
        transition: 0.2s ;
        font-size: 29px;
    }

    #name {
        font-size: 24px;
    }


    .hero-container {
        flex-direction: column;
        padding: 40px 70px 40px 70px;
        text-align: center;
    }

    .hero {
        width: 100%;
        padding-top:50px;
    }

    .hero h1 {
        margin-left: 20px;
        font-size: 52px;
    }

    .hero p {
        font-size:40px;
        margin-left: 20px;
    }



    .picture img{
    display: none;
        height: 0px;
        width: 0px;
        margin-right: 0;
    }

    .sec-2-wrapper {
        flex-direction: column;
        gap: 20px;
        padding: 0px;
        margin: 0px;
        align-items: center;
    }

    .sec-2-wrapper h1 {
        font-size: 20px;
    }

    .sec-2-wrapper button {
        width: 100%;
        height: 170px;
        font-size: 28px;
    }

        #but1, #but2, #but3, #but4 { background-color: #0c0c0c;
        font-weight: lighter;
        color:white;
        width:90%;
        height:190px;
        align-content: center;
        text-align: center;
        font-size:35px;
        border-radius: 30px;
            margin-top:50px;
    }

    #but1:hover, #but2:hover, #but3:hover, #but4:hover{
        background-color: #f2c94c;
        font-weight: lighter;
        color: black;
        transition: 1s;
        box-shadow: 0 0 100px rgb(92, 92, 92);
        cursor: pointer;
        padding:-5px 10px 5px 10px;
        border-radius: 34px;
        }

}