
/* THIS IS THE DEFAULT STYLE SHEET FOR ALL MOBILE PAGES.
    THIS MUST BE USED FOR ALL PAGES, THEN A SEPERATE STYLE SHEET CAN BE CREATED
    FOR THOSE PAGES FOR MORE DIRECT CUSTOMISATION.
 */


body {
    background-color: black;
    font-family: Ubuntu;
}


#menu-btn {
    top: 20px;        /* instead of margin */
    left: 20px;       /* instead of margin */
        position: fixed;
    background-color: rgba(0, 0, 0, 0);
    color: #eb5757;
    font-size: 28px;
    border: none;
    padding: 38px 43px;
    border-radius: 20px;;
    cursor: pointer;
    z-index: 1001;        /* higher than the sidebar */
}

/* Blur only the page content */
#content.blurred {
    filter: blur(6px) brightness(0.6);
    transition: 0.3s ease;
}

/* Sidebar stays unblurred */



.sidebar {
    position: fixed;
    padding-top:120px;
    top: 0;
    left: -360px;  /* hidden by default */
    width: 350px;
    height: 100vh;
    background-color: #000000;
    transition: left 0.3s ease;
    z-index: 99;
    border-right: 5px solid #eb5757;;   /* <— this is the correct line */}

/* Sidebar links */
.sidebar a {
    display: block;
    color: white;
    margin-top:80px;
    text-decoration: none;
    font-size: 35px;
    font-weight: 500;
}

.sidebar ul {
    list-style: none;
    font-size: 30px;
}


/* When active (visible) */
.sidebar.active {
    left: 0;
}