<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Aspirations</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/aspirations.css">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@100;300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">

</head>
<body>
    <div class="header">

        <h2 id="details">
            <a href="https://www.linkedin.com/in/joshua-coyle-6560521a4/" target="_blank">
                <i class="fa-brands fa-linkedin"></i> LinkedIn
            </a>
            |
            <a href="https://www.linkedin.com/in/joshua-coyle-6560521a4?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3B%2FXr1h6sqQuCWMBBa3qzkWQ%3D%3D" target="_blank">
                <i class="fa-brands fa-github"></i> GitHub
            </a>
        </h2>
        <div class="nav-bar">
            <ul class="nav-links">
                <li><a href="{{ url_for('index') }}">Home</a></li>
                |
                <li><a href="{{ url_for('projects') }}">Projects & Skills</a></li>
                |
                <li><a href="{{ url_for('about_me') }}">About Me</a></li>
                |
                <li><a href="{{ url_for('contactme') }}">Contact Me</a></li>
            </ul>

            </div>
        </div>

        <!-- <h1 id="myasp">My Aspirations.</h1> -->

        <div class="sec-1-asp">
            <div class="career">
                <h2>💼 Career Aspirations</h2>
                <p>I am currently seeking opportunities to work within the tech sector, specifically in software engineering and machine learning/AI roles. I am particularly motivated by positions where I can apply my technical abilities to develop intelligent, scalable solutions and contribute to innovative products. My goal is to work in an environment where I can continue to grow professionally, deepen my expertise in AI-driven systems, and play a meaningful role in shaping the future of technology.</p>
            </div>
            <div class="education">
                <h2>📚 Further Education</h2>
                <p>I was recently offered a place on the Artificial Intelligence Master’s programme at the University of Stirling, which I am eager to accept. This course aligns closely with my long-term goal of developing advanced skills in machine learning, data-driven decision-making, and intelligent systems design. I will also be applying for the Data Lab scholarship in hopes of having this opportunity funded, as it would significantly support my progression into the AI and data science sector.

Securing this scholarship would allow me to fully focus on my studies and make the most of the research, industry partnerships, and practical project work offered by the programme. Ultimately, I see this Master’s degree as a key step toward building a career at the forefront of AI innovation and contributing to impactful, real-world solutions.</p>
            </div>
            </div>
        </div>


</body>
</html>