<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>🏡 Home</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="/static/css/index-mobile.css">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
</head>
<body>
    <div class = "header">
        <h2 id="details">
            <a href="https://www.linkedin.com/in/YOUR-LINKEDIN-USERNAME" target="_blank">
                <i class="fa-brands fa-linkedin"></i> LinkedIn
            </a>
            |
            <a href="https://www.linkedin.com/in/joshua-coyle-6560521a4?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3B%2FXr1h6sqQuCWMBBa3qzkWQ%3D%3D" target="_blank">
                <i class="fa-brands fa-github"></i> GitHub
            </a>
        </h2>
<!--        Getting rid of this for now as i have added buttons instead. -->

    </div>


    <div class="hero-container">
        <div class="hero">
            <h1>Hi, I'm <span id="joshua">Joshua</span> 👋</h1>
            <p>
                I'm a recent computing science graduate with a passion for <br><span id="bold">Machine Learning, <span id="bold3">Software Development</span>  </span>and <span id="bold2">Data Analytics.</span><br>
                <div class="desktop-only"></div>
                I love building intelligent systems that make data-driven predictions.

                </div>
        </div>
        <div class="picture">
            <img src="/static/images/code.png" alt="Photo of Joshua Coyle">
        </div>
    </div>

    <div class="sec-2-wrapper">
            <a href="{{ url_for('about_me') }}" id="but1">About me</a>
            <a href="{{ url_for('projects') }}" id="but2">Projects</a>
            <a href="{{ url_for('aspirations') }}" id="but3">Aspirations</a>
            <a href="{{ url_for('contactme') }}" id="but4">Contact Me</a>
    </div>

</body>
</html>