<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
    
    <!-- Google Fonts & Icons -->
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">

    <!-- CSS Links -->
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/ufc-predictor.css">

    <!-- Select2 CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />


</head>
<body>

        <!-- Header -->
    <div class="header">
        <h2 id="details">
            <a href="https://www.linkedin.com/" target="_blank">
                <i class="fa-brands fa-linkedin"></i> LinkedIn
            </a>
            |
            <a href="https://github.com/" target="_blank">
                <i class="fa-brands fa-github"></i> GitHub
            </a>
        </h2>
        <div class="nav-bar">
            <ul class="nav-links">
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <li>|</li>
                <li><a href="{{ url_for('about_me') }}">About me</a></li>
                <li>|</li>
                <li><a href="{{ url_for('aspirations') }}">Aspirations</a></li>
                <li>|</li>
                <li><a href="{{ url_for('contactme') }}">Contact Me</a></li>
            </ul>
        </div>
    </div>
    <h1>UFC Predictor</h1>
    <form action="/ufc-predictor" method="post">
        <label for="fighter_A">Fighter A:</label>
        <select id="fighter_A" name="fighter_A" required>
            <option value="">Select Fighter</option>
            {% for fighter in fighters %}
            <option value="{{ fighter }}">{{ fighter }}</option>
            {% endfor %}
        </select>

        </div>
        <br><br>
        <label for="fighter_B">Fighter B:</label>
        <select id="fighter_B" name="fighter_B" required>
            <option value="">Select Fighter</option>
            {% for fighter in fighters %}
            <option value="{{ fighter }}">{{ fighter }}</option>
            {% endfor %}
        </select>

        <br><br>
        <button type="submit">Predict</button>
    </form>

    {% if prediction %}
        <div class="prediction-result">
            {% if prediction.winner %}
                <h2>Prediction Result</h2>
                <p><strong>Winner:</strong> {{ prediction.winner }}</p>
                <p><strong>Confidence:</strong> {{ prediction.confidence }}</p>
            {% elif prediction.error %}
                <p style="color: red;"><strong>Error:</strong> {{ prediction.error }}</p>
            {% endif %}
        </div>

    {% endif %}

    <div class="sec2">
        <h1>About this project</h1>
        <p>
            The UFC Predictor is a machine learning-based web application designed to predict the outcome of UFC fights between two selected fighters. 
            Users can choose fighters from a dropdown list, and upon submission, the application utilizes a pre-trained model to forecast the likely winner 
            and the confidence level of that prediction.
            <br><br>
            This project was devleoped as part of my honours year dissertation, where I explored the idea of using machine learning and data analysis to enhance
            sports predictions. The model was trained on historical fight data, including fighter statistics, previous match
            <br><br>
            I trained various machine learning algorithms using two datasets from kaggle that contained historical UFC fight data and fighter statistics.
            After using a K-fold cross validation to evaluate the models, I found that the Logistic Regression algorithm performed the best with an F1 Score of 0.73.
            <br><br>
            The confidence metric indicates the probability associated with the predicted winner, as the Logistic Regression model provides probability estimates for each class.
            <br><br>
            My dissertation paper that coincides with this project can be found <a href="https://github.com/joshcoyle02/UFC-Fight-Predictor/blob/main/UFC%20Fight%20Predictor%20Paper.pdf" target="_blank">here</a>, which was graded at 78% which greatly contributed to my overall grade for my honours year.
            You can also view the code for this project on my <a href="https://github.com/joshcoyle02/UFC-Fight-Predictor/blob/main/Fight%20Predictor%20Test.ipynb" target="_blank">here</a> or by visiting my GitHub page by using the link at the top left of this page.
        </p>

    </div>

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Select2 JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>

</body>
</html>